<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <ci-search></ci-search>
        {{ $currentNode := . }}
        {{with .Site.Menus.main}}
        {{ range sort . "Weight" "desc"}}
            {{.Pre}}
            <li class="nav-opened{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}} nav-current{{end}}" role="presentation">
            	<a href="{{.URL}}">{{.Name}}</a>
            </li>
        {{end}}
        {{end}}
    </ul>

    {{ if .Site.Params.RSSLink}}
    <a class="subscribe-button icon-feed" href="{{.Site.Params.RSSLink }}">Langganan</a> </div>
    {{else}}
    <a class="subscribe-button icon-feed" href="{{if .IsNode}}{{.RSSLink}}{{else}}{{"index.xml" | relURL}}{{end}}">Langganan</a>
    {{end}}
</div>
<span class="nav-cover"></span>
<script>
  (function() {
    var id = '786b8008-58a2-11ec-aefa-0242ac130002';
    var ci_search = document.createElement('script');
    ci_search.type = 'text/javascript';
    ci_search.async = true;
    ci_search.src = 'https://cse.expertrec.com/api/js/ci_common.js?id=' + id;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ci_search, s);
  })();
</script>
