<script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "BlogPosting",
        "mainEntityOfPage": {
             "@type": "WebPage",
             "@id": "{{ .Site.BaseURL }}"
        },
        "articleSection" : "{{ .Section }}",
        "name" : "{{ .Title }}",
        "headline" : "{{ .Title }}",
        "description" : "{{ if .Description }}{{ .Description }}{{ else if .IsPage}}{{ .Summary }}{{ end }}",
        "image" :"{{ with .Params.cover | default .Site.Params.cover }}{{ . }}{{end}}",
        "inLanguage" : "{{ with .Site.LanguageCode }}{{.}}{{end}}",
        "author" : "{{ with $.Site.Params.author }}{{.}}{{end}}",
        "creator" : "{{ with $.Site.Params.author }}{{.}}{{end}}",
        "publisher": {
            "@type" : "Organization",
            "name" : "{{ with $.Site.Params.author }}{{.}}{{end}}",
            "logo" : {
                "@type" : "ImageObject",
                "url" :"{{ with .Site.Params.logo }}{{- . | absURL }}{{end}}",
                "height": 1200, 
                "width": 360 
            },
            "image": {
                "@type": "ImageObject",
                "url": "{{ with .Site.Params.logo }}{{- . | absURL }}{{end}}",
                "width": 120,
                "height": 120
            }
        },
        "accountablePerson" : "{{ with $.Site.Params.author }}{{.}}{{end}}",
        "copyrightHolder" : "{{ with $.Site.Params.author }}{{.}}{{end}}",
        "copyrightYear" : "{{ .Date.Format "2006" }}",
        "datePublished": "{{ .Date.Format "Monday, January 2, 2006" }}",
        "dateModified" : "{{ if .Lastmod }}{{ .Lastmod.Format "Monday, January 2, 2006" }}{{ else }}{{ .Date.Format "Monday, January 2, 2006" }}{{ end }}",
        "url" : "{{ .Permalink }}",
        "wordCount" : "{{ .WordCount }}",
        "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"blog" ]
    }
</script>