{{ partial "header.html" . }}
<meta http-equiv="refresh" content="15; url=https://wildanfauzy.com/" /> 

<nav class="main-nav overlay clearfix">
        {{ if .Site.Params.logo }}
            <a class="blog-logo" href="{{ .Permalink }}"><img src="{{ .Site.Params.logo| relURL }}" alt="Blog Logo" width="400" height="400"/></a>
        {{end}}
        {{ if .Site.Menus.main }}
            <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
        {{else}}
            {{ if .Site.Params.RSSLink}}
              <a class="menu-button icon-feed" href="{{.Site.Params.RSSLink }}">&nbsp;&nbsp;Subscribe</a>
            {{else}}
              <a class="menu-button icon-feed" href="{{ .RSSLink }}">&nbsp;&nbsp;Subscribe</a>
            {{end}}
        {{end}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
        </div>
    </div>
</header>


<main id="content" class="content" role="main">

  <article class="post">
    <h1>404 Kamu Tersesat</h1>
    <p>Mohon Maaf sepertinya apa yang kamu cari tidak ditemukan, mungkin bisa tanyakan pada rumput yang bergoyang!</p>
    <p>Silakan kembali ke <a href="/">Beranda</a>.</p>
  </article>

{{ partial "footer.html" . }}
